<div class="alert {{alertClass}}">{{alert}}</div>
<div class="quote-main">
  <div class='error' style="padding: 10px; color: red;">{{errorMsg}}</div>
  {{textarea class="form-control" placeholder="Start writing your article here" value=articleText}}
  <input type="button" class="btn btn-default btn-sm pull-right" value="Share" {{action actionName}}>
  {{articleText}}
</div>