<div class="col-sm-8">
  {{#if model.canAddArticle}}
    <QuotesUpdate @actionName='postArticle' @userId={{model.user.id}} @errorMsg='' />
  {{/if}}
  <h1><strong>{{model.user.name}}'s Articles - {{articleCount}}</strong></h1>
  <QuotesList @articles={{model.user.articles}} @editable={{true}} />
</div>
{{profile-details user=model.user articleCount=articleCount isCurrentUser=model.canAddArticle bioText=bioText bioComponent=bioComponent editBio=(action "editBio") updateBio=(action "updateBio") closeEditor=(action "closeEditor") }}